@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color:#f7f7f7;
    font-size:1em;
    line-height:1.375em;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }


.calendar {
    width: 1600px;
    height: 870px;
    border-radius: 30px;
    padding: 15px 20px 40px 20px;
    border: 0.5px solid red;
    position: relative;
    overflow: hidden;
}

.calendar-header {
    border: 0.5px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.calendar-body {
    height: 700px;
}

.calendar-prev,
.calendar-next {
    cursor: pointer;
    border: 0.5px solid orange;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin: 5px;
}
/* For the names of the days of the week */
.calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-content: center;
    text-align: center;
}

.calendar-week-day-child {
    border: 0.5px solid blue;
    padding: 10px 4px 8px 4px;
}
/* -- */
/* for the actual days of the week and weeks*/



.current-day {
    background-color: lightblue;
}

/* -- */

.next-month,
.prev-month {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

.calendar-view {
    cursor: pointer;
}

.popup-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

    .popup h3 {
        margin-top: 0;
    }

    .popup .form-group {
        margin-bottom: 1rem;
    }

    .popup button[type="submit"] {
        margin-top: 1rem;
    }

.close:hover {
    cursor: pointer;
}

.event-count {
    border-left-width: 3px;
    padding: 5px 9px;
    border-left-style: solid;
    font-size: 10px;
    position: relative;
    border-left-color: #fdb44d;
    grid-column: 4 / span 3;
    grid-row: 3;
    background: #fef0db;
    align-self: center;
    margin-top: 3px;
}

.calendar2 {
    width: 1630px;
    height: 843px;
    overflow: auto;
    white-space: nowrap;
}

div.days-header div {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.day2 {
    height: 69px;
    width: 100px;
    vertical-align: top;
    text-align: start;
    padding: 3px;
    font-size: 18px;
    border-top: 1px solid;
    border-block-color: green;
}

    .day2:hover {
        background-color: #eeeeee;
    }

.calendar-header2 {
    width: 1600px;
    border: 0.5px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.mother-of-all-divs {
    height: 850px;
    width: 1600px;
}

.calendar-body2 {
    padding: 20px 5px 20px 0px;
    height: 850px;
}


.new-section {
    white-space: normal !important;
}

.empty-space {
    height: 80px;
    width: 164px;
    text-align: start;
    padding: 3px;
    font-size: 18px;
    border-top: 1px solid;
    border-block-color: green;
}

.calendar-resources {
    float: left;
    height: 643px;
    width: 164px;
    border: 0.5px solid red;
}

.line {
    line-height: 80px;
    height: 80px;
    width: 162px;
    text-align: center;
    font-size: 18px;
}

    .line:hover {
        background-color: #eeeeee;
    }

.calendar-grid {
    margin-left: 10%;
    height: 643px;
    border: 0.5px solid red;
}

.grid-line {
    height: 80px;
}

.grid-column {
    display: inline-block;
    text-align: center;
    height: 80px;
    width: 100px;
    cursor: pointer;
    font-size: 18px;
    border: 0.5px solid;
    border-block-color: dodgerblue;
}

    .grid-column:hover {
        background-color: #eeeeee;
    }

.event-count2 {
    float: left;
    width: 98px;
    height: 30px;
    line-height: 20px;
    text-align: center;
    border-left-width: 3px;
    padding: 5px 9px;
    border-left-style: solid;
    font-size: 9px;
    border-left-color: #fdb44d;
    grid-column: 4 / span 3;
    grid-row: 3;
    background: #fef0db;
    align-self: center;
    margin-top: 3px;
}

.months-year {
    height: 74px;
    width: 3050px;
    vertical-align: top;
    text-align: start;
    padding: 3px;
    font-size: 24px;
    border-top: 1px solid;
    border-block-color: green;
}

.week2 {
    height: 30px;
    width: 20px;
    vertical-align: top;
    text-align: start;
    padding: 3px;
    font-size: 15px;

}
.month2 {
    height: 30px;
    width: 120px;
    vertical-align: top;
    text-align: start;
    padding: 3px;
    font-size: 18px;
    border-top: 1px solid;
    border-block-color: green;
}
.weeks-header {
    padding: 20px 5px 0px 0px;
    height: 50px;
}
div.weeks-header div {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.weeks-month {
    height: 30px;
    width: 120px;
    vertical-align: top;
    text-align:center;
    word-wrap: break-word;
    padding: 3px;
    border-top: 1px solid;
    border-block-color: green;
}

.grid-column2 {
    display: inline-block;
    text-align: center;
    height: 80px;
    width: 24px;
    cursor: pointer;
    font-size: 18px;
    border: 0.5px solid;
    /*border-block-color: #f5f6fa;*/
    border-block-color: blue;
}
    .grid-column2:hover {
        background-color: #eeeeee;
    }


.event-count3 {
    height: 100%;
    background: lightgreen;
    align-self: center;
    border-top: 0.1px solid;
    border-block-color: blue;
}
.days-header2 {
    padding: 20px 5px 0px 0px;
    height: 55px;
}

div.days-header2 div {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}
