@if (Option == View.HorizontalMonth)
{
    <button class="@CSSClass team" @onclick=@(()=>{calendar = 1; OpenView();})>
        <svg xmlns="http://www.w3.org/2000/svg" width="23.067" height="18.455" viewBox="0 0 23.067 18.455">
            <path d="M5086.34-9754.409v-1.155a3.748,3.748,0,0,0-3.75-3.747.866.866,0,0,1-.866-.866.867.867,0,0,1,.866-.865,5.478,5.478,0,0,1,5.479,5.479v1.155a.863.863,0,0,1-.866.863A.861.861,0,0,1,5086.34-9754.409Zm-6.921,0v-1.155a3.748,3.748,0,0,0-3.75-3.747h-5.189a3.747,3.747,0,0,0-3.75,3.747v1.155a.863.863,0,0,1-.866.863.863.863,0,0,1-.863-.863v-1.155a5.478,5.478,0,0,1,5.479-5.479h5.189a5.478,5.478,0,0,1,5.479,5.479v1.155a.863.863,0,0,1-.866.863A.863.863,0,0,1,5079.419-9754.409Zm-10.96-12.976a4.623,4.623,0,0,1,4.615-4.616,4.623,4.623,0,0,1,4.613,4.616,4.622,4.622,0,0,1-4.613,4.612A4.622,4.622,0,0,1,5068.459-9767.385Zm1.731,0a2.889,2.889,0,0,0,2.884,2.881,2.887,2.887,0,0,0,2.882-2.881,2.89,2.89,0,0,0-2.882-2.885A2.892,2.892,0,0,0,5070.19-9767.385Zm8.939,3.46a.864.864,0,0,1,.866-.865,2.606,2.606,0,0,0,2.595-2.6,2.605,2.605,0,0,0-2.595-2.595.865.865,0,0,1-.866-.863.864.864,0,0,1,.866-.865,4.333,4.333,0,0,1,4.324,4.323,4.334,4.334,0,0,1-4.324,4.326A.865.865,0,0,1,5079.129-9763.925Z" transform="translate(-5065.001 9772.001)" />
        </svg>
    </button>
}
else if (Option == View.HorizontalYear)
{
    <button class="@CSSClass" @onclick=@(()=>{calendar = 2; OpenView();})> @DisplayName </button>
}
else if (Option == View.HorizontalFullYear)
{
    <button class="@CSSClass" @onclick=@(()=>{calendar = 3;OpenView();})> @DisplayName </button>
}
else if (Option == View.Month)
{
    <button class="@CSSClass month" @onclick=@(()=>{calendar = 4; OpenView();})>
        <svg xmlns="http://www.w3.org/2000/svg" width="19.958" height="19.96" viewBox="0 0 19.958 19.96">
            <path d="M5088.952-9740.024a2.957,2.957,0,0,1-2.952-2.953v-12.432a2.957,2.957,0,0,1,2.952-2.954h1.372v-1.621h1.58v1.621h8.149v-1.621h1.58v1.621h1.622v.013a2.955,2.955,0,0,1,2.7,2.939v12.434a2.957,2.957,0,0,1-2.954,2.953Zm-1.372-2.953a1.372,1.372,0,0,0,1.372,1.369H5103a1.372,1.372,0,0,0,1.372-1.369v-9.479h-16.8Zm0-12.434v1.371h16.8v-1.371a1.371,1.371,0,0,0-1.369-1.369h-1.374v1.08h-1.58v-1.08H5091.9v1.08h-1.58v-1.083h-1.372A1.373,1.373,0,0,0,5087.581-9755.411Z" transform="translate(-5086 9759.984)" />
        </svg>

    </button>
}
else if (Option == View.HorizontalWeekYear)
{
    <button class="@CSSClass" @onclick=@(()=>{calendar = 5; OpenView();})> @DisplayName </button>
}
else if (Option == View.current)
{
    if (DisplayName == "Colab Icon")
    {
        <button class="@CSSClass team">
            <svg xmlns="http://www.w3.org/2000/svg" width="23.067" height="18.455" viewBox="0 0 23.067 18.455">
                <path d="M5086.34-9754.409v-1.155a3.748,3.748,0,0,0-3.75-3.747.866.866,0,0,1-.866-.866.867.867,0,0,1,.866-.865,5.478,5.478,0,0,1,5.479,5.479v1.155a.863.863,0,0,1-.866.863A.861.861,0,0,1,5086.34-9754.409Zm-6.921,0v-1.155a3.748,3.748,0,0,0-3.75-3.747h-5.189a3.747,3.747,0,0,0-3.75,3.747v1.155a.863.863,0,0,1-.866.863.863.863,0,0,1-.863-.863v-1.155a5.478,5.478,0,0,1,5.479-5.479h5.189a5.478,5.478,0,0,1,5.479,5.479v1.155a.863.863,0,0,1-.866.863A.863.863,0,0,1,5079.419-9754.409Zm-10.96-12.976a4.623,4.623,0,0,1,4.615-4.616,4.623,4.623,0,0,1,4.613,4.616,4.622,4.622,0,0,1-4.613,4.612A4.622,4.622,0,0,1,5068.459-9767.385Zm1.731,0a2.889,2.889,0,0,0,2.884,2.881,2.887,2.887,0,0,0,2.882-2.881,2.89,2.89,0,0,0-2.882-2.885A2.892,2.892,0,0,0,5070.19-9767.385Zm8.939,3.46a.864.864,0,0,1,.866-.865,2.606,2.606,0,0,0,2.595-2.6,2.605,2.605,0,0,0-2.595-2.595.865.865,0,0,1-.866-.863.864.864,0,0,1,.866-.865,4.333,4.333,0,0,1,4.324,4.323,4.334,4.334,0,0,1-4.324,4.326A.865.865,0,0,1,5079.129-9763.925Z" transform="translate(-5065.001 9772.001)" />
            </svg>
        </button>
    }
    else if (DisplayName == "Calendario Icon")
    {
        <button class="@CSSClass month">
            <svg xmlns="http://www.w3.org/2000/svg" width="19.958" height="19.96" viewBox="0 0 19.958 19.96">
                <path d="M5088.952-9740.024a2.957,2.957,0,0,1-2.952-2.953v-12.432a2.957,2.957,0,0,1,2.952-2.954h1.372v-1.621h1.58v1.621h8.149v-1.621h1.58v1.621h1.622v.013a2.955,2.955,0,0,1,2.7,2.939v12.434a2.957,2.957,0,0,1-2.954,2.953Zm-1.372-2.953a1.372,1.372,0,0,0,1.372,1.369H5103a1.372,1.372,0,0,0,1.372-1.369v-9.479h-16.8Zm0-12.434v1.371h16.8v-1.371a1.371,1.371,0,0,0-1.369-1.369h-1.374v1.08h-1.58v-1.08H5091.9v1.08h-1.58v-1.083h-1.372A1.373,1.373,0,0,0,5087.581-9755.411Z" transform="translate(-5086 9759.984)" />
            </svg>

        </button>
    }
    else
    {
         <button class="@CSSClass team"> @DisplayName </button>
    }

    
}



else if (Option == View.MonthLabel)
{
<button class="@CSSClass" @onclick=@(()=>{calendar = 4;OpenView();})> @DisplayName </button>
}


@code {
    public enum View
    {
        Month,
        HorizontalMonth,
        HorizontalYear,
        HorizontalFullYear,
        HorizontalWeekYear,
        current,
        MonthLabel,
    }

    [Parameter]
    public View Option { get; set; }
    [Parameter]
    public string DisplayName { get; set; } = "";
    [Parameter]
    public Action<int> Event { get; set; }
    [Parameter]
    public string CSSClass { get; set; } = "btn btn-primary";
    private int calendar;

    private void OpenView()
    {
        Event.Invoke(calendar);

    }
}
