@foreach (var item in DataSource)
{
    <tr>
        <th>
            @item.Text @item.Id
        </th>

        <td></td>

    </tr>
}
    
@code {
    [Parameter]
    public List<ResourceData> DataSource { get; set; } = new List<ResourceData>();
    [Parameter]
    public string ResourceCSSClass { get; set; } = "line";
    [Parameter]
    public string CSSClass { get; set; } = "calendar-resources";
}
