        <div class="@CSSClass">
        <button class="calendar-prev" @onclick="PreviousButtonEvent">&lt;</button>
            <div class="calendar-month">@DateValue</div>
        <div>
            @CalendarButtons
        </div>
        <button class="calendar-next" @onclick="NextButtonEvent">&gt;</button>
        </div>

@code {
    [Parameter]
    public RenderFragment CalendarButtons { get; set; }
    [Parameter]
    public EventCallback PreviousButtonEvent { get; set; }
    [Parameter]
    public string DateValue { get; set; } = "";
    [Parameter]
    public EventCallback NextButtonEvent { get; set; }
    [Parameter]
    public string CSSClass { get; set; } = "calendar-header";

}
